@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$white: #FFF;
$light-gray: #e5e5e5;
$light-gray-darker: #b7b7b7;
$text-black: #3c3c3c;
$text-gray: #777;
$link-blue: #1cb0f6;
$dark-blue: #235390;
$dark-blue-lighter: #2a67b1;
$dark-blue-darker: #1f4b82;
$dark-blue-darker-still: #022c60;
$green: #58cc02;
$green-darker: #58a700;
$purple: #ce82ff;
$purple-darker: #a567cc;

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
  color: $text-gray;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  h1, h2, h3 {
    color: $text-black;
  }
  header {
    display: flex;
    border-bottom: 2px solid $light-gray;

    nav {
      height: 60px;
      width: 100%;
      .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 28px;
        display: flex;
        color: $link-blue;
        padding: 0px 10px;
        @media (max-width: 432px) {
          padding: 0px 8px;
        }
        text-decoration: none;
        float: right;
        &:hover {
          cursor: pointer;
        }
        &.active {
          color: $purple;
        }
        &.site-title {
          display: flex;
          font-size: 22px;
          padding: 0px 24px;
          color: $green;
          font-weight: 700;
          float: left;
          @media (max-width: 413px) {
            display: none;
          }
        }
        &.spacer {
          width: 12px;
          @media (max-width: 432px) {
            width: 9px;
          }
          padding: 0;
          margin: 0;
          cursor: default;
        }
      }
    }
  }
  main {
    padding: 12px;
    width: calc(100% - 24px);
    height: calc(100vh - 50px - 24px);
  }
}

.HomePage {
  .action-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.ActivityTotals {
  display: flex;
  flex-direction: column;
  align-items: center;

  .activity-list {
    width: 100%;
    max-width: 320px;
    margin: 18px 0 0 0;
    list-style-type: none;
    padding: 0;
    .activity {
      border: 1px solid $light-gray;
      border-radius: 12px;
      margin: 6px 0;
      padding: 4px 12px;
    }
    .activity-name {
      font-weight: 500;
    }
    .activity-time {
      float: right;
      font-weight: 500;
    }
  }
}

.WeeklyProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  .time-range-button-container {
    display: flex;
    margin-bottom: 14px;
    .time-range-button {
      margin-right: 5px;
      &.selected {
        background-color: $green;
        border-color: $green-darker;
      }
    }
  }
}

.loading-messsage {
  text-align: center;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  user-select: none;
  outline: none;
  padding: 8px 16px;
  border: solid transparent;
  border-radius: 12px;
  border-width: 0px 0px 4px 0px;
  background-color: $dark-blue;
  border-color: $dark-blue-darker-still;
  color: $white;
  width: fit-content;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: $dark-blue-lighter;
  }
}

.AnkiTotals {
  display: flex;
  flex-direction: column;
  align-items: center;
  .heatmap-container {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    text-align: center;
    overflow-x: scroll;
    direction: rtl; // start at right and scroll left
    .react-calendar-heatmap {
      height: 120px;
      padding-bottom: 4px; // leaving space for the scroll bar
      direction: ltr; // reset the direction so tooltips aren't backwards
    }
  }
  .react-calendar-heatmap .color-scale-0 { fill: #eeeeee; }
  .react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
  .react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
  .react-calendar-heatmap .color-scale-3 { fill: #44a340; }
  .react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
}

.progress-ring-container {
  margin: 5px;
  outline: 1px solid #deedff;
  position: relative;
  .progress-ring svg {
    transform: rotate(-90);
    -webkit-transform: rotate(-90deg);
  }
  .progress-title {
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    text-align: center;
  }
  .progress-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: calc(50% + 16px); // offset for title
  }
}
