@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$text-black: #3c3c3c;
$text-gray: #777;
$link-blue: #1cb0f6;

body {
  font-family: 'M PLUS 1p', sans-serif;
  color: $text-gray;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  h1, h2, h3 {
    color: $text-black;
  }
  header {
    display: flex;
    color: #fff;
    background-color: #235390;

    nav {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 50px;
      width: 100%;
      justify-content: space-between;
      .site-title {
        display: flex;
        font-size: 24px;
        padding: 0px 12px;
      }
      .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 24px;
        display: flex;
        color: #FFF;
        padding: 0px 12px;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          background-color: #1f4b82;
        }
      }
    }
  }
  main {
    padding: 12px;
    width: calc(100% - 24px);
    height: calc(100vh - 50px - 24px);
  }
  .button {
    -webkit-appearance: none;
    text-decoration: none;
    user-select: none;
    outline: none;
    padding: 8px 16px;
    border: solid transparent;
    border-radius: 12px;
    border-width: 2px 2px 4px;
    background-color: #235390;
    border-color: rgb(2, 44, 96);
    color: #FFF;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
      cursor: pointer;
      background-color: #1f4b82;
    }
  }
}

.HomePage {
  height: 20%;
  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.ActivityTotals {
  margin: 0;
  .activity-name {
    font-weight: 600;
  }
  .head-content {
    display: flex;
    justify-content: space-between;
  }
}
