@import url('https://fonts.googleapis.com/css?family=M PLUS 1p');

$text-black: #3c3c3c;
$text-gray: #777;
$link-blue: #1cb0f6;

body {
  font-family: 'M PLUS 1p', sans-serif;
  color: $text-gray;
  line-height: 1.4;
  h1, h2, h3 {
    color: $text-black;
  }
}

.ActivityTotals {
  margin: 0;
  padding: 12px;
  .activity-name {
    font-weight: 600;
  }
}
